body>header {
        background-color: #3c4255;
        opacity: 0.7;
    }

body>section {
        background-color: #3c4255;
        opacity: 0.8;

    }

body {
    background-image: url('../images/sky.jpg');
    background-color: #3c4255;
    color: #060907;;   /* none; #060907; #f4aa5e; #6b4d33; #f6be69; #fad975; */
    font-family: auto;
    align-items: center;
    position: static;
    left: 50px;
    top: 50px;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    border-radius: 10px;
}

    header>h1 {
        text-align: center;
        font-family: cursive, 'New Century Schoolbook', auto;
        font-size: 2vw;
      }


    body>main>section>div {
        flex-direction: row;
        align-items: center;
      }

    main>div {
        flex-direction: column;
      }

    form>li {
        text-align: center;
        font-size: 1.2vw;
    }

    li>p {
        text-align: center;
        font-size: 1.2vw;
    }

    article>div>a>button {
        display: flex;
        flex-direction: row;

    }
    footer {
        text-align: right;
        font-family: cursive, 'New Century Schoolbook', auto;
        font-size: 1.5vw;
        color: #dfe4f4;
      }
    }
}

.rounded_image {
    border-radius: 20px;
}

.btn-primary {
    background-color: #159fa0;
}

.btn-secondary {
    background-color: #50b7b8;
}

.btn-info {
    background-color: #32abac; /* #50b7b8; */
}

.btn-danger {
    background-color: ;
}

.ticket {
    background-color: #7986b4;
    color: #060907;
    opacity: 0.9;
  }

.review {
    background-color: #5d6b89;    /* #939db1; #273a62; #b7ad89; */
    color: #f39c46; /*  #fad975; */
    opacity: 0.95;

  }

.no_border {
    border: none;
}

/* Ratings Star Display -> mais le faire en JS !*/
.icon-star {

}

.One {

}

.Two {

}

.Three {

}

.Four {

}

.Five {

}

.icon-star {

}

.subscriptions {
    background-color: #c3c8d6 ;
    opacity: 0.9;
  }

.form {
    background-color: #dfe4f4 ;
    opacity: 0.9;
    }