/* Main aspect */
body {
    background-image: url('../images/sky.jpg');
    background-color: #3c4255;
    display: flex;
    flex-direction: column;
    color: #060907;
    font-family: auto;
    position: static;
    margin-top: 25px;
    margin-bottom: 25px;
    left: 50px;
    top: 50px;
    padding: 20px;
    border: 1px solid #888;
    border-radius: 10px;
}

header {
    display: flex;
    background-color: #3c4255;
    opacity: 0.7;
    text-align: center;
    font-family: cursive, 'New Century Schoolbook', auto;

}

header>a {
    font-family: auto;
}

header>p {
    text-align: center;
}

section {
    background-color: #3c4255;
    opacity: 0.8;
}

main>section {
    font-family: auto;
    opacity: 0.7;
}

.no-review {
    background-color: #dfe4f4;
    opacity: 0.8;
    text-align: center;
}

form>li {
    display: flex;
    justify-content: center;
    font-size: 1.2vw;
}

li>p {
    display: flex;
    justify-content: center;
    font-size: 1.2vw;
}

footer {
    display: flex;
    justify-content: flex-end;
    font-family: cursive, 'New Century Schoolbook', auto;
    font-size: 1.5vw;
    color: black;
}

/* Button layout */
.buttons-centered-component {
        display: flex;
        justify-content: center;
}

.buttons-on-right-component {
        display: flex;
        justify-content: flex-end;
}

.header_buttons {
    display: flex;
    justify-content: space-between;
    width: 40%;
}

.buttons {
    display: flex;
    justify-content: space-between;
}

/* Button colors*/
.btn-primary {
    background-color: #159fa0;
    opacity: 0.9;
}

.btn-secondary {
    background-color: #50b7b8;
    opacity: 0.9;
}

.btn-info {
    background-color: #32abac;
    opacity: 0.9;
}

.btn-danger {
    background-color: #e3b177
    opacity: 0.9;
}


.subscriptions {
    background-color: #c3c8d6;
    opacity: 0.9;
}

.form {
    background-color: #dfe4f4;
    opacity: 0.9;
}

/* Articles layout */
.article-header {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
}

.article-content {
    display: flex;
    justify: flex-start
}

.review-headline {
    display: flex;
    align-items: center;
    justify-content: left;
    font-size: 1.2vw;
}

.ticket-title {
    font-size: 1.2vw;
    text-decoration: underline;
}

.ticket-image {
    display: flex;
    justify: flex-start
}

.has_reply {
    display: flex;
    justify-content: center;
}

/* Articles colors*/
.ticket {
    background-color: #7986b4;
    color: #060907;
    opacity: 0.9;
}

.review {
    background-color: #5d6b89;
    color: #da914f;
    opacity: 0.9;
}

/* Five Star rating CSS */
.review_stars ul {
    display: flex;
}

.review_stars ul li  {
    font-size: 2.5vw;
}

.stars > li {
    list-style-type: none;
}
