{% extends 'base.html' %}

{% load static %}
{% load crispy_forms_tags %}

    {% block title %} Page des abonnements {% endblock %}
    {% block content %}
        <div>
            <h3>Chercher d'autres utilisateurs à suivre</h3>
            {% include 'subscriptions/form_user_search.html' %}

                <div>
                    <p>
                        {% if context.found_users %}
                            <p>{{ context.found_users.count }} utilisateur(s) trouvé(s) </p>
                                <ul>
                                    {% for user in context.found_users %}
                                    <form method="post" action="">
                                        {% csrf_token %}
                                        <li class="card">
                                            <input type="hidden" name="user_to_follow" value="{{ user }}">
                                            {{ user.username }}
                                            <input type="hidden" name="form_name" value="follow">
                                            <button class="btn btn-sm btn-outline-dark" type="submit" >
                                                S'abonner
                                            </button>
                                        </li>
                                    </form>
                                {% endfor %}
                                </ul>
                        {% endif %}
                    </p>
                </div>

            <h3>Mes Abonnements ({{ context.followed_users|length }})</h3>
                {% if context.followed_users %}
                    <ul>
                    {% for user in context.followed_users %}
                    <form method="post" action="">
                        {% csrf_token %}
                        <li class="card">
                            <input type="hidden" name="user_to_unfollow" value="{{ user }}">
                                {{ user.username }}
                            <input type="hidden" name="form_name" value="unfollow">
                            <button class="btn btn-sm btn-outline-dark" type= "submit">
                                Se désabonner
                            </button>
                        </li>
                    </form>
                    {% endfor %}
                    </ul>
                {% else %}
                    <p>Vous n'etes abonné à aucun utilisateur</p>
                {% endif %}

            <h3>Mes Abonnés ({{ context.following_users|length }})</h3>
                {% if context.following_users %}
                {% for user in context.following_users %}
                    <ul>
                        <li class="card">{{ user.username }}</li>
                    </ul>
                {% endfor %}
                {% else %}
                    <p>Vous n'avez aucun abonné</p>
                {% endif %}

        </div>
    {% endblock %}