{% extends 'base.html' %}

    {% block content %}
        <div>
            <h3>Suivre d'autres utilisateurs</h3>
                <form method="post" action="">
                    {% csrf_token %}
                    {{ form.user_name.errors}}
                    <label for="{{ form.username.id_for_label }}"></label>
                    {{ form.username }}
                    <input name="search" placeholder="Rechercher un utilisateur">
                    <button type="submit">Envoyer</button> <!-- action search à définir dans views -->
                </form>
                <div>
                    {% if results is not None %}
                        {% if results %}
                            <ul>
                                {% for result in results %}
                                <li> {{ result }}
                                    <button type="submit" action="follow">S'abonner</button>
                                </li>
                            {% endfor %}
                            </ul>
                        {% else %}
                            <p> Pas de resultat à afficher</p>
                        {% endif %}
                    {% endif %}

                </div>

            <h3>Abonnements</h3>
                {% if userfollows.followed_by %}
                {% for item in userfollows.followed_by %}
                    <ul>
                        <li>{{ item.username }}
                            <button type= "submit" action="unfollow">Se désabonner</button></li> <!-- action à définir-->
                    </ul>
                {% endfor %}
                    <p>Liste des abonnements du compte connecté</p>
                {% else %}
                    <p>Vous n'etes abonné à aucun utilisateur</p>
                {% endif %}

            <h3>Abonnés</h3>
                {% if userfollows.following %}
                {% for item in userfollows.following %}
                    <ul>
                        <li>{{ item.username }}</li>
                    </ul>
                {% endfor %}
                    <p>Liste des abonnés au compte connecté</p>
                {% else %}
                    <p>Vous n'avez aucun abonné</p>
                {% endif %}

        </div>
    {% endblock %}