<!DOCTYPE html>
<html lang="fr">

{% load static %}

{% load crispy_forms_tags %}
{% load bootstrap4 %}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}
{% bootstrap_messages %}

<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <ul>
        <li>
            <h3>Critique</h3>
            {% if context.post %}
                - <u>Reponse au ticket {{context.post.ticket }}</u><br/> <!--A bien formater-->
                - Réponse par: {{ context.post.user }}<br/>
                - Titre: {{ context.post.headline }}<br/>
                - Description: {{ context.post.body }}
            {% else %}
                - <u>Reponse au ticket {{post.ticket }}</u><br/> <!--A bien formater-->
                - Réponse par: {{ post.user }}<br/>
                - Titre: {{ post.headline }}<br/>
                - Description: {{ post.body }}
            {% endif %}
        </li>
    </ul>
</body>
</html>