<!DOCTYPE html>
<html lang="en">

{% load static %}
{% load crispy_forms_tags %}

<head>
    <meta charset="UTF-8">
    <title>LITR - Login</title>
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon32.png' %}"/>
</head>

<body>
  <header>
    <h1>LITReview</h1>
  </header>
  <div>
      {% block content %}
        {% if user.is_authenticated %}
            <p>Bonjour {{ user.username }}!
                <a href="{% url 'login' %}">Se déconnecter</a>
            </p>
        {% else %}
            <p>Vous n'etes pas connecté</p>
            <a href="{% url 'login' %}">Se connecter</a> |
            <a href="{% url 'signup' %}">S'inscrire</a>
        {% endif %}
      {% endblock %}
  </div>
  <footer class="modal-footer">
      <p> LITReview </p>
  </footer>

</body>
</html>