<!DOCTYPE html>
<html lang="fr">

{% load static %}

{% load crispy_forms_tags %}
{% load bootstrap4 %}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}
{% bootstrap_messages %}


<head>
    <meta charset="UTF-8">
    <title>LITR - Connexion</title>
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon32.png' %}"/>
</head>


<!-- retirer les styles dans la balise <body> par la suite, c'est juste pour le fun !-->
<body style="text-align: center">
  <header>
    <h1>
        LITReview
        {% if user.is_authenticated %}
        <h3>Bonjour {{ user.username }} !</h3>
            <a href="{% url 'feed' %}"><button class="btn btn-outline-dark">Flux</button></a>
            <a href="{% url 'posts' %}"><button class="btn btn-outline-dark">Posts</button></a>
            <a href="{% url 'subscriptions' %}"><button class="btn btn-outline-dark">Abonnements</button></a>
            <a href="{% url 'logout' %}"><button class="btn btn-outline-danger">Se déconnecter</button></a>
        {% else %}
            <h3>Bienvenue ! Vous n'etes pas connecté</h3>
        {% endif %}
    </h1>
    <hr size="5px" color="black">  <!-- temporaire -->
  </header>

  <div>
      <h2>{% block title %}{% endblock %}</h2>
  </div>
  <hr> <!-- temporaire -->

  <div>
      {% block content %}
      {% endblock %}
  </div>

  <footer>LITReview</footer>

</body>
</html>