{% extends 'base.html' %}

    {% block content %}
        <div>
            <h2>Abonnements</h2>
        </div>

        <div>
            <p>Suivre d'autres utilisateurs</p>
            <form>
                {{ form.user_name.errors }}
                <label for="{{ form.username.id_for_label }}">Nom d'utilisateur:</label>
                {{ form.username }}
                <input type= submit value="Envoyer">
            </form>
            <p>Abonnements</p>
            <p>Abonnés</p>
        </div>
    {% endblock %}