{% extends 'base.html' %}

    {% block content %}
        <div>
            <h2>Inscrivez-vous</h2>
        </div>
        <div>
            <form method="post" action="{% url 'signup' %}">
                {% csrf_token %}
                {{ form.non_field_errors }}
                <p class="fieldWrapper">
                    {{ form.username.errors }}
                    <label for="{{ form.username.id_for_label }}">Nom d'utilisateur:</label>
                    {{ form.username }}
                </p>
                <p class="fieldWrapper">
                    {{ form.first_name.errors }}
                    <label for="{{ form.first_name.id_for_label }}">Prénom:</label>
                    {{ form.first_name }}
                </p>
                <p class="fieldWrapper">
                    {{ form.last_name.errors }}
                    <label for="{{ form.last_name.id_for_label }}">Nom:</label>
                    {{ form.last_name }}
                </p>
                <p class="fieldWrapper">
                    {{ form.email.errors }}
                    <label for="{{ form.email.id_for_label }}">Email:</label>
                    {{ form.email }}
                </p>
                <p class="fieldWrapper">
                {{ form.password1.errors }}
                <label for="{{ form.password1.id_for_label }}">Mot de passe:</label>
                {{ form.password1 }}
                </p>
                <p class="fieldWrapper">
                    {{ form.password2.errors }}
                    <label for="{{ form.password2.id_for_label }}">Confirmation du mot de passe:</label>
                    {{ form.password2 }}
                </p>
                <a href="{% url 'login' %}"><button>Retourner</button></a>
                <!-- Pb car pour que le bouton "retourner" fonctionne, il faut que
                les champs de formulaire soient correctement remplis  ! -->
                <input type="submit" value="S'inscrire">
            </form>




        </div>
    {% endblock %}
