{% extends 'base.html' %}
{% load crispy_forms_tags %}

    {% block title %} Page d'inscription {% endblock %}
    {% block content %}
        <div>
            <form method="post" action="{% url 'signup' %}">
                {% csrf_token %}
                {{ form.non_field_errors }}
                <p class="fieldWrapper">
                    {{ form.username.errors }}
                    {{ form.username | as_crispy_field }}
                </p>
                <p class="fieldWrapper">
                    {{ form.first_name.errors }}
                    {{ form.first_name | as_crispy_field }}
                </p>
                <p class="fieldWrapper">
                    {{ form.last_name.errors }}
                    {{ form.last_name | as_crispy_field }}
                </p>
                <p class="fieldWrapper">
                    {{ form.email.errors }}
                    {{ form.email | as_crispy_field  }}
                </p>
                <p class="fieldWrapper">
                {{ form.password1.errors }}
                {{ form.password1 | as_crispy_field }}
                </p>
                <p class="fieldWrapper">
                    {{ form.password2.errors }}
                    {{ form.password2 | as_crispy_field }}
                </p>
                    <a href="{% url 'login' %}"><button>Retourner</button></a>
                <!-- Pb car pour que le bouton "retourner" fonctionne, il faut que
                les champs de formulaire soient correctement remplis  ! -->
                    <input type="submit" value="S'inscrire">
            </form>
            <p><a href="{% url 'login' %}"><button>Retourner (Debug)</button></a></p>

        </div>
    {% endblock %}
