{% extends 'base.html' %}

{% load bootstrap4 %}
<!--
    Possible d'utiliser le meme template pour "mes Posts" et le "feed" ?
    avec des if else (limité à l'user courant OU ALORS les posts de tous les utilisateurs que l'user courant suit,
    à voir !
    (le titre aussi serait variable)
-->
    {% block title %} Page d'accueil - Flux {% endblock %}

{% block content %}
        <div>
            <a href="{% url 'ticket_creation' %}">
                <button class="btn btn-outline-dark">Demander un critique</button>
            </a>
            <a href="{% url 'review_creation' %}">
                <button class="btn btn-outline-dark">Créer une critique</button>
            </a>
        </div>
        <div>
            {% if ticket %}
                {% for item in ticket %}
                <ul>
                    <li>{{ item }}</li>
                </ul>
                {% endfor %}
                    <li>Liste des reviews et tickets à mettre ici</li>
                {% else %}
                    <p>Pas de review ou ticket à afficher</p>
            {% endif %}
        </div>
    {% endblock %}