{% extends 'base.html' %}

    {% block content %}
        <div>
            <h3>Accueil - Flux</h3>
        </div>

        <div>
            <a href="{% url 'ticket_creation' %}"><button>Demander un critique</button></a>
            <a href="{% url 'review_creation' %}"><button>Créer une critique</button></a>
        </div>
        <div>
            {% if ticket %}
                {% for item in ticket %}
                <ul>
                    <li>{{ item }}</li>
                </ul>
                {% endfor %}
                    <li>Liste des reviews et tickets à mettre ici</li>
                {% else %}
                    <p>Pas de review ou ticket à afficher</p>
            {% endif %}
        </div>
    {% endblock %}