{% extends 'base.html' %}

{% load static %}

{% load crispy_forms_tags %}
{% load bootstrap4 %}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}
{% bootstrap_messages %}
<!--
    Possible d'utiliser le meme template pour "mes Posts" et le "feed" ?
    avec des if else (limité à l'user courant OU ALORS les posts de tous les utilisateurs que l'user courant suit,
    à voir !
    (le titre aussi serait variable)
-->
    {% block title %} {{ context.title }} {% endblock %}

    {% block content %}
    <div>
        <a href="{% url 'ticket_creation' %}">
            <button class="btn btn-outline-dark">Demander un critique</button>
        </a>
        <a href="{% url 'review_creation_no_ticket' %}">
            <button class="btn btn-outline-dark">Créer une critique</button>
        </a>

        <hr>
        <p>DEBUG (à retirer)</p>
        <a href="{% url 'ticket_modification' %}">
            <button class="btn btn-outline-dark">Modifier un ticket</button>
        </a>
        <a href="{% url 'review_creation_reply' %}">
            <button class="btn btn-outline-dark">Répondre à une demande de critique</button>
        </a>
        <a href="{% url 'review_modification' %}">
            <button class="btn btn-outline-dark">Modifier une critique</button>
        </a>

    </div>

    {% if context.url_name == 'feed' %}
    <div>
        {% if context.followed_users_posts %}
            <h4>Liste des reviews et tickets à mettre ici</h4>
            {% for post in context.followed_users_posts %}
            {% if post.content_type == 'TICKET' %}
                {% include './ticket_snippet.html' %}
            {% elif post.content_type == 'REVIEW' %}
                {% include './review_snippet.html' %}
            {% endif%}
            {% endfor %}
        {% endif %}
    </div>
    {% endif %}
    <div>
        {% if context.user_posts %}
            <h4>Liste des reviews et tickets à mettre ici</h4>
            {% for post in context.user_posts %}
            {% if post.content_type == 'TICKET' %}
                {% include './ticket_snippet.html' %}
            {% elif post.content_type == 'REVIEW' %}
                {% include './review_snippet.html' %}
            {% endif%}
            {% endfor %}
        {% endif %}
    </div>
    <div>
        {% if not context.followed_users_posts and not context.user_posts %}
            <p>Pas de review ou ticket à afficher</p>
        {% endif %}
    </div>
    {% endblock %}