{% extends 'base.html' %}

{% load static %}

{% load crispy_forms_tags %}
{% load bootstrap4 %}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}
{% bootstrap_messages %}

<!--
    Utilisation d'un seul template multi-fonctions pour:
    - Critique/Ticket, Creation/Modification,
    - Critique en réponse à un ticket ou non ?
    Via if/else et include:
    Le titre est variable selon l'url_name
-->
    {% block title %} {{ context.title }} {% endblock %}

    {% block content %}

    {% if context.url_name == 'ticket_modification' %}
        {% include './forms/form_ticket_snippet.html' %}
    {% endif %}

    {% if 'review_modification' in context.url_name %}
    <div>
        <h3>Template Critique Modification (en cours !)</h3>
        <h4>Vous etes en train de modifier la critique du ticket suivant: </h4>
        {% include './snippets/ticket_snippet.html' %}
        {% include './forms/form_review_snippet.html'  %}
    </div>
    {% endif %}

    {% if context.url_name in 'ticket_creation review_creation_no_ticket' %}
        {% include './forms/form_ticket_snippet.html' %}
    {% endif %}

    {% if 'review_ticket_reply' in context.url_name %}
    <!-- récupérer le ticket correspondant et l'afficher (non modifiable) -->
        <div>
            <h4>Vous etes en train de poster en réponse à: </h4>
                {% include './snippets/ticket_snippet.html' %}
        </div>
    {% endif %}

    {% if context.url_name in 'review_ticket_reply review_creation_no_ticket' %}
        {% include './forms/form_review_snippet.html' %}
    {% endif %}
    {% endblock %}