{% extends 'base.html' %}

{% load static %}

{% load crispy_forms_tags %}
{% load bootstrap4 %}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}
{% bootstrap_messages %}
<!--
    Utilisation d'un seul template multi-fonctions pour:
    - Mes Posts
    - Flux - Page d'accueil
    Via if/else et include: soit les posts de l'utilisateur courant, soit les posts des utiisateurs qu'il suit(et les siens?)
    Le titre est variable selon l'url_name
-->
    {% block title %} {{ context.title }} {% endblock %}

    {% block content %}
    <div>
        <a href="{% url 'ticket_creation' %}">
            <button class="btn btn-outline-dark">Demander une critique</button>
        </a>
        <a href="{% url 'review_creation_no_ticket' %}">
            <button class="btn btn-outline-dark">Créer une critique</button>
        </a>

        <hr>
        <p>DEBUG (à retirer)</p>
        <a href="{% url 'review_modification' %}">
            <button class="btn btn-outline-dark">Modifier une critique</button>
        </a>
    </div>

    <div> <!-- ca fonctionne mais très lourd ! à revoir  -->
    {% if context.url_name == 'feed' and not context.followed_users_posts %}
        <p>Pas de review ou ticket à afficher</p>
    {% elif context.url_name == 'posts' and not context.user_posts %}
        <p>Pas de review ou ticket à afficher</p>
    {% else%}
        <h4>Liste des reviews et tickets</h4>
        {% if context.url_name == 'feed' %}
            {% if context.followed_users_posts %}
                {% for post in context.followed_users_posts %}
                    {% if post.content_type == 'TICKET' %}
                        {% include './snippets/ticket_snippet.html' %}
                    {% elif post.content_type == 'REVIEW' %}
                        {% include './review_snippet.html' %}
                    {% endif %}
                {% endfor %}
            {% endif %}
        {% elif context.url_name == 'posts' %}
            {% if context.user_posts %}
                {% for post in context.user_posts %}
                    {% if post.content_type == 'TICKET' %}
                        {% include './snippets/ticket_snippet.html' %}
                    {% elif post.content_type == 'REVIEW' %}
                        {% include './review_snippet.html' %}
                    {% endif %}
                {% endfor %}
            {% endif %}
        {% endif %}
    {% endif %}
    </div>
    {% endblock %}
