{% extends 'base.html' %}

{% load bootstrap4 %}

<!--
    Possible d'utiliser le meme template pour "Critique Creation" et le "Ticket Creation" ?
    avec des if else (changer le HTML via la view
    - creation/modification Critique,
    - creation/modfiiciation Ticket
    - Critique suite à un ticket ou creation de critique sans ticket préalable)
    à voir !
    (le titre aussi serait variable)
-->
    {% block title %} Page de création de critique (en réponse à une demande (ticket)) {% endblock %}

    {% block content %}
        <h3>Créer une critique</h3>

<!-- utiliser ce template avec un {% if block %}, {% else %}, {% endif %}  si c'est une réponse à un ticket existant
 ou si on veut modifier notre propre critique !
si reponse , on affiche le ticket existant; sinon on affiche un template de ticket vide
à supprimer: le template review_edition-->

        <div>
            <h4>Livre /Article</h4>
            <p>Titre</p>
            <p>Description</p>
            <p>Image</p>
            <button class="btn btn-outline-dark">Télécharger une image</button>
        </div>
        <div>
            <h4>Critique</h4>
            <p>Titre</p>
            <p>Note</p>
            <p>Commentaire</p>
            <button type="submit" action="{url 'login'}">Envoyer</button> <!-- débugger, rediriger au bon endroit ensuite !-->
        </div>
    {% endblock %}