{% extends 'base.html' %}

    {% block content %}
        <h3>Créer une critique (en réponse à une demande (ticket))</h3>

<!-- utiliser ce template avec un {% if block %}, {% else %}, {% endif %}  si c'est une réponse à un ticket existant
 ou si on veut modifier notre propre critique !
si reponse , on affiche le ticket existant; sinon on affiche un template de ticket vide
à supprimer: le template review_edition-->

        <div>
            <h4>Livre /Article</h4>
            <p>Titre</p>
            <p>Description</p>
            <p>Image</p>
            <button>Télécharger une image</button>
        </div>
        <div>
            <h4>Critique</h4>
            <p>Titre</p>
            <p>Note</p>
            <p>Commentaire</p>
            <button type="submit" action="{url 'login'}">Envoyer</button> <!-- débugger, rediriger au bon endroit ensuite !-->
        </div>
    {% endblock %}