{% extends 'base.html' %}

    {% block content %}
        <div>
            <h2>Inscrivez-vous maintenant</h2>
            <button><a href="{% url 'signup' %}">S'inscrire</a></button>
        </div>

        <div>
            <h2>Connectez-vous</h2>
            <form method="post">
                {% csrf_token %}
                {{ form.non_field_errors }}
                <p class="fieldWrapper">
                    {{ form.username.errors }}
                    <label for="{{ form.username.id_for_label }}">Nom d'utilisateur:</label>
                    {{ form.username }}
                </p>
                <p class="fieldWrapper">
                    {{ form.password.errors }}
                    <label for="{{ form.password.id_for_label }}">Mot de passe:</label>
                    {{ form.password }}
                </p>
                <button type="submit">Se connecter</button>
            </form>
        </div>
    {% endblock %}
