<!DOCTYPE html>
<html lang="fr">

{% load static %}

{% load crispy_forms_tags %}
{% load bootstrap4 %}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}
{% bootstrap_messages %}

<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form method="post" action="">
        {% csrf_token %}
        {{ form.non_field_errors }}
        <h3>Ticket</h3>
        {% if context.url_name == 'ticket_modification'%}
            <p>
                <div>- Titre: {{ context.post.title }}</div>
                <p class="fieldWrapper">
                    {{ ticket.titre.errors }}
                    <input size="250" name="new_ticket_title" placeholder="Changer le titre" value="">
                <p/>
            </p>
        {% else %}
            <p class="fieldWrapper">
                <div>- Titre:</div>
                    {{ ticket.titre.errors }}
                    <input type="text" size="250"
                           name="ticket_title" placeholder="Entrez le titre et l'auteur de l'oeuvre">
                </p>
        {% endif %}
        {% if context.url_name == 'ticket_modification'%}
                <p class="fieldWrapper">
                    <div>- Image:</div>
                    <img> {{ context.post.image }}<br/> <!--voir Pillow-->
                    {{ ticket.image.errors }}
                    <input size="250" type="hidden" name="new_ticket_image">
                    <button type="submit" class="btn btn-outline-dark">Télécharger une nouvelle image</button>
                </p>
            </p><br/>
        {% else %}
                <p class="fieldWrapper"> <!--voir Pillow-->
                    <div>- Image:</div>
                    {{ ticket.image.errors }}
                    <input type="hidden" name="ticket_image">
                    <button type="submit" class="btn btn-outline-dark">Télécharger une image</button>
                </p>
        {% endif %}
        {% if context.url_name == 'ticket_modification'%}
            <p class="fieldWrapper">
                <div>- Description: {{ context.post.description }}</div>
                {{ ticket.description.errors }}
                <input name="new_ticket_description" placeholder="Changer la description du ticket" value="">
            </p>
        {% else %}
                <p class="fieldWrapper">
                    <div>- Description:</div>
                    {{ ticket.description.errors }}
                    <input type="text" size="250"
                           name="ticket_description" placeholder="Entrez la description du ticket">
                </p>
        {% endif %}
        {% if context.url_name == 'ticket_modification' %}
            <button class="btn btn-outline-dark" type="submit">Modifier le ticket</button><br/>
        {% elif context.url_name == 'review_creation_no_ticket' %}
        {% else %}
            <button class="btn btn-sm btn-outline-dark" type="submit">Envoyer</button>
        {% endif %}
    </form>
</body>
</html>