<!DOCTYPE html>
<html lang="fr">

{% load static %}

{% load crispy_forms_tags %}
{% load bootstrap4 %}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}
{% bootstrap_messages %}

<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <!-- formulaire pour remplir un review (en réponse à une demande d'un autre utilisateur
    ou à un de ses propre ticket)-->
    <form method="post" action=""> <!-- action à definir-->
        {% csrf_token %}
        <hr> <!-- à retirer plus tard -->

        <h3>Critique</h3>

        <p class="fieldWrapper">  <!--fieldWrapper ne fait rien ...-->
            Titre
            <input name="review_title"placeholder="Titre">
        </p>
        <p class="fieldWrapper">
            Note
            <input name="review_rating" placeholder="Note">
        <p class="fieldWrapper">
            Commentaire
            <input name="review_comment" placeholder="Commentaire">
        </p>
        <p class="fieldWrapper">
            <button class="btn btn-sm btn-outline-dark" type="submit">
                Envoyer
            </button> <!-- débugger, rediriger au bon endroit ensuite !-->
        </p>
    </form>
</body>
</html>