<!DOCTYPE html>
<html lang="fr">

{% load static %}

{% load crispy_forms_tags %}

<head>
<meta charset="UTF-8">
<title>Ticket - Creation</title>
</head>
    <body>
        <form method="post" action="" enctype="multipart/form-data">
        {% csrf_token %}
            {{ form_ticket.non_field_errors }}
            <p class="fieldWrapper">
                    {{ form_ticket.title.errors }}
                    {{ form_ticket.title | as_crispy_field }}
            </p>
            <p class="fieldWrapper"> <!--voir Pillow-->
                    {{ form_ticket.image.errors }}
                    {{ form_ticket.image | as_crispy_field }}
            </p>
            <p class="fieldWrapper">
                    {{ form_ticket.description.errors }}
                    {{ form_ticket.description | as_crispy_field }}
            </p>
            <button class="btn btn-sm btn-outline-dark" type="submit">Envoyer</button>
        </form>
    </body>
</html>