<!DOCTYPE html>
<html lang="fr">

{% load static %}
{% load crispy_forms_tags %}

<head>
    <meta charset="UTF-8">
    <title>Critique - Modification</title>
</head>
<body>
    <hr> <!-- à retirer plus tard -->
    <form method="post" action="">
    {% csrf_token %}
    {{ form_review.non_field_errors }}
        <h4>Vous etes en train de modifier la critique du ticket suivant: {{ context.post.ticket }}</h4>
        <!--
        <p>{% include 'reviews/snippets/ticket_snippet.html' with ticket=post.ticket %}</p>
        -->
            <p>
                <div>- Titre: {{ context.post.headline }}</div>
                <p class="fieldWrapper">
                    {{ form_review.headline.errors }}
                    {{ form_review.headline | as_crispy_field }}
                </p>
            <p>
                <p class="fieldWrapper">
                <div>- Note: {{ context.post.rating }}</div>
                    <ul class="d-inline-flex">
                        <li>
                            {{ form_review.rating.errors }}
                            {{ form_review.rating | as_crispy_field }} <!-- Changer l'affichage pour des boutons -->
                        </li>
                    </ul>
                </p>
            </p>
            <p class="fieldWrapper">
                <div>- Commentaire: {{ context.post.body }}</div>
                <p class="fieldWrapper">
                    {{ form_review.body.errors }}
                    {{ form_review.body | as_crispy_field }}
                </p>
            </p>
            <p class="fieldWrapper">
                <button class="btn btn-sm btn-outline-dark" type="submit">
                Modifier la critique
                </button>
            </p>
    </form>
</body>
</html>