<!DOCTYPE html>
<html lang="fr">

{% load static %}

{% load crispy_forms_tags %}





<head>
<meta charset="UTF-8">
<title>Ticket - Modification</title>
</head>
    <body>
        <h3>Ticket{{ context.post }} </h3>
        <form method="post" action="" enctype="multipart/form-data">
        {% csrf_token %}
            {{ form.non_field_errors }}
            <p>
                <p class="fieldWrapper">
                    {{ form.title.errors }}
                    {{ form.title | as_crispy_field }}
                </p>
                <p class="fieldWrapper">
                    <img {{ context.post.image  }}><br/> <!--voir Pillow-->
                        {{ form.image.errors }}
                        {{ form.image | as_crispy_field }}
                </p>
                <p class="fieldWrapper">
                        {{ form.description.errors }}
                        {{ form.description | as_crispy_field }}
                </p>
                <button class="btn btn-outline-dark" type="submit">Modifier le ticket</button><br/>
        </form>
    </body>
</html>