{% extends 'base.html' %}

{% load static %}
{% load crispy_forms_tags %}

    {% block title %} {{ context.title }} {% endblock %}

    {% block content %}
    {% include 'reviews/snippets/header_links.html' %}
    <div>
        {% if context.user_posts %}
            {% for post in context.user_posts %}
                {% if post.content_type == 'TICKET' %}
                        {% include 'reviews/snippets/ticket_snippet.html' %}
                {% elif post.content_type == 'REVIEW' %}
                        {% include 'reviews/snippets/review_snippet.html' %}
                {% endif %}
            {% endfor %}

        {% else%}
            <p class="no-review">Pas de review ou ticket à afficher</p>
        {% endif %}
    </div>
    {% endblock %}
